<div class="tabla-planeaciones">
    <div class="tabla-scroll">
        <div class="tabla-encabezado">
            <div class="col-id">ID</div>
            <div class="col-nombre">Nombre</div>
            <div class="col-fecha">Fecha</div>
            <div class="col-boton">Acciones</div>
        </div>

        <ul>
            <li class="fila-planeacion">
                <div class="col-id">001</div>
                <div class="col-nombre">Planeación Matemáticas</div>
                <div class="col-fecha">2025-05-18</div>
                <div class="col-boton"><button>Ver</button></div>
            </li>
            <li class="fila-planeacion">
                <div class="col-id">002</div>
                <div class="col-nombre">Planeación Historia</div>
                <div class="col-fecha">2025-05-17</div>
                <div class="col-boton"><button>Ver</button></div>
            </li>
            <!-- Más filas aquí -->
            <li class="fila-planeacion">
                <div class="col-id">003</div>
                <div class="col-nombre">Planeación Ciencias</div>
                <div class="col-fecha">2025-05-18</div>
                <div class="col-boton"><button>Ver</button></div>
            </li>
            <li class="fila-planeacion">
                <div class="col-id">004</div>
                <div class="col-nombre">Planeación Ingles</div>
                <div class="col-fecha">2025-05-17</div>
                <div class="col-boton"><button>Ver</button></div>
            </li>
            <li class="fila-planeacion">
                <div class="col-id">005</div>
                <div class="col-nombre">Planeación Matemáticas</div>
                <div class="col-fecha">2025-05-18</div>
                <div class="col-boton"><button>Ver</button></div>
            </li>
            <li class="fila-planeacion">
                <div class="col-id">006</div>
                <div class="col-nombre">Planeación Historia</div>
                <div class="col-fecha">2025-05-17</div>
                <div class="col-boton"><button>Ver</button></div>
            </li>
            <li class="fila-planeacion">
                <div class="col-id">007</div>
                <div class="col-nombre">Planeación Ciencias</div>
                <div class="col-fecha">2025-05-18</div>
                <div class="col-boton"><button>Ver</button></div>
            </li>
            <li class="fila-planeacion">
                <div class="col-id">008</div>
                <div class="col-nombre">Planeación Historia</div>
                <div class="col-fecha">2025-05-17</div>
                <div class="col-boton"><button>Ver</button></div>
            </li>
        </ul>
    </div>
</div>